mixin sConfirm(data)
	// start sConfirm
	+b.SECTION.sConfirm.section#sConfirm&attributes(attributes)
		.container
			+e.box.text-center
				+e.logo.d-none.d-md-flex
					img(loading="lazy" src="img/@2x/order-logo.png" alt="")
				+e.title.h2 Заказ оформлен
				+e.txt
					+e.txt-item
						| Номер Вашего заказа:
						|
						span № 121212
					+e.txt-item
						| Итоговая сумма заказа: #[span 33 294 ₽]
				+e.btn(href='#').btn.btn-white Перейти к оплате
	// end sConfirm

mixin sConfirm2(data)
	// start sConfirm
	+b.SECTION.sConfirm.section#sConfirm&attributes(attributes)
		.container
			+e.box.text-center.mb-36
				+e.logo.d-none.d-md-flex
					img(loading="lazy" src="img/@2x/order-logo.png" alt="")
				+e.title Заказ  оплачен
				+e.txt.mb-12
					+e.txt-item Номер заказа: #[span № 121212]
				+e.await Ожидайте подтверждения заказа в ближайшее время. #[span Спасибо за покупку!]
				+e.btns-row.row.justify-content-center
					.col-12
						+e.btn(href='#').btn.btn-white Перейти к оплате
					.col-12
						+e.btn(href='#').btn.btn-outline-white Вернуться в каталог